.app {
  padding: 20px;
}

.title {
  text-align: center;
  font-family: arial, sans-serif;
  font-size: 18px;
}

header {
  margin: 10px 0;
}

.btns-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.filters-container{
  width: 80%;
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sort-icon {
  width: 15px;
  position: absolute;
  right: 5px;
  top: 25px;
}

.table-container{
  width: 80%;
  margin: auto;
  overflow-x: auto;
}


@media screen and (max-width: 980px) {
  .filters-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    align-items: flex-start;
  }
}

@media screen and (max-width: 800px) {
  .btns-container{
    display: grid;
    grid-template-columns: 1fr 1fr;

  }
}
@media screen and (max-width: 460px) {
  .btns-container{
    grid-template-columns: 1fr;

  }
}